<div class="flex flex-col justify-center items-center h-full {{activeTheme.bg}}">
  <div class="flex flex-col items-center justify-center">
    <h1 class="my-6 {{activeTheme.title}} text-center font-bold text-4xl
      h-full">
      KAKURO
    </h1>
  </div>

  <!--  POP UP ZA IZBOR DIMENZIJA-->

  <div *ngIf="semaphores.displayLevelSelector"
       class="fixed inset-0 w-full h-full flex justify-center items-center bg-black bg-opacity-20">
    <div class="p-10 bg-red-900 flex flex-col items-center space-y-3 justify-start py-10 rounded-2xl relative z-10 flex flex-col border-2 border-white">

      <h1 class="text-white font-bold text-3xl">KAKURO</h1>
      <h2 class="text-white font-bold text-3xl">Choose dimension</h2>

      <div class="flex flex-col justify-center items-center space-y-5">

        <button (click)="chooseDimension(3)"
                class="px-6 py-2 w-32 rounded-md border border-white bg-red-400 font-bold text-white hover:bg-red-300">
          3x3
        </button>
        <button (click)="chooseDimension(4)"
                class="px-6 py-2 w-32 rounded-md border border-white bg-red-400 font-bold text-white hover:bg-red-300">
          4x4
        </button>
        <button (click)="chooseDimension(5)"
                class="px-6 py-2 w-32 rounded-md border border-white bg-red-400 font-bold text-white hover:bg-red-300">
          5x5
        </button>
      </div>

    </div>
  </div>

  <!--  DUGMAD ZA TEME-->

  <div *ngIf="!semaphores.displayLevelSelector && !semaphores.displayTimeSelector"
       class="w-full flex mb-8 justify-center items-center">
    <button
      (click)="chooseTheme(0)"
      class="px-10 py-2 text-2xl rounded-lg {{activeTheme.btn_bg}} text-white border-2 mr-10">
      pink
    </button>
    <button
      (click)="chooseTheme(1)"
      class="px-10 py-2 text-2xl rounded-lg {{activeTheme.btn_bg}} text-white
      border-2">purple
    </button>
  </div>


  <!--  TABELA-->

  <div *ngIf="!semaphores.displayLevelSelector && !semaphores.displayTimeSelector" class="flex justify-center items-center mb-20 {{activeTheme.table_bg}} rounded">
    <div class="grid grid-rows-10 space-y-1 overflow-hidden border border-4
      {{activeTheme.table_border}}">
      <div *ngFor="let row of board; let i= index" class="flex flex-row
        space-x-1">
        <div *ngFor="let element of row; let j=index"
             class="{{activeTheme.field_bg}} w-8 h-8 sm:w-20 sm:h-20
          overflow-hidden text-black flex justify-center items-center rounded">
          <input
            *ngIf="element.value !== -1 && !element.hasValue"
            type="number"
            min="1"
            max="9"
            id={{i}}{{j}}
            [(ngModel)]="element.value"
            (ngModelChange)="dataChanged($event, i,j)"
            class="w-full h-full text-center flex justify-center items-center
            text-3xl sm:text-5xl {{activeTheme.text}} pb-2.5">
          <div *ngIf="element.value === -1" class="w-full h-full flex justify-center items-center {{activeTheme.board_01}}"></div>
          <div *ngIf="element.value !== -1 && element.hasValue"
               class="w-full h-full flex justify-center items-center {{activeTheme.board_02}} text-white relative overflow-hidden">
            <div class="w-28 h-0.5 absolute top-10 rotate-45 {{activeTheme.line}}"></div>
            <div *ngIf="element.up" class="absolute top-3 right-3 font-bold {{activeTheme.numbers}}">{{ element.value }}</div>
            <div *ngIf="!element.up" class="absolute bottom-2 left-4 font-bold {{activeTheme.numbers}}">{{ element.value }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  TIMER-->

  <div class="px-6 border-[3px] border-white text-xl font-bold rounded-xl text-center text-white py-1">
    00 : 0{{minutesLeft | number : '1.0-0'  }} : {{ timeLeft % 60 | number : '1.0-2' }}
  </div>

  <!--  DUGME ZA NOVU IGRU-->

  <div *ngIf="!semaphores.displayLevelSelector && !semaphores.displayTimeSelector"
       class="w-full my-2 flex justify-center items-center">
    <button (click)="initNewGame()"
            class="bg-white text-black rounded-md font-bold hover:bg-gray-300 px-6 py-2">
      New Game
    </button>
  </div>


  <!--  POPUP ZA IZBOR VREMENA-->

  <div *ngIf="semaphores.displayTimeSelector" class="fixed inset-0 w-full h-full flex justify-center items-center bg-black bg-opacity-20">
    <div class="p-10 flex flex-col justify-center items-center bg-red-900 border-2 rounded-xl space-y-4 z-10 text-white font-bold">

      <h2 class="text-white font-bold text-3xl">Choose time</h2>

      <button class="px-6 py-2 rounded-md border border-white bg-red-400 hover:bg-red-300"
              (click)="chooseTime(10)">
        10 minutes
      </button>
      <button class="px-6 py-2 rounded-md border border-white bg-red-400 hover:bg-red-300"
              (click)="chooseTime(5)">
        5 minutes
      </button>
      <button class="px-6 py-2 rounded-md border border-white bg-red-400 hover:bg-red-300"
              (click)="chooseTime(3)">
        3 minutes
      </button>
    </div>
  </div>

  <div *ngIf="semaphores.won" class="fixed inset-0 w-full h-full flex justify-center items-center">
    <div class="font-bold text-green-600" style="font-size: 120px;">YOU WON</div>
  </div>

  <div *ngIf="semaphores.lost" class="fixed inset-0 w-full h-full flex justify-center items-center">
    <div class="font-bold text-red-600 bg-white rounded-xl px-5" style="font-size: 100px;">YOU RAN OUT OF TIME</div>
  </div>


</div>
